In [4]:
import pandas as pd
df = pd.read_csv('boston.csv')
print(df.shape)

(506, 14)

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [6]:
df.isna().sum().sum()

120

In [7]:
fn = ['CRIM','ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
cn = ['low', 'high']

for col in fn:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [8]:
df.isna().sum().sum()

0

In [9]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
y_clss = [1 if price > 20 else 0 for price in y]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

tree = DecisionTreeRegressor()

bagging_tree_model = BaggingRegressor(estimator=tree, n_estimators=10, random_state=42) 
bagging_tree_model.fit(X_train, y_train)

y_pred = bagging_tree_model.predict(X_test)
y_pred

array([23.8 , 29.49, 16.1 , 22.23, 17.36, 22.84, 17.96, 16.2 , 21.77,
       20.58, 20.21, 19.47,  9.63, 21.09, 19.05, 25.49, 18.6 ,  8.72,
       47.54, 14.01, 24.13, 25.44, 14.22, 24.01, 13.61, 14.62, 22.17,
       13.76, 18.59, 21.3 , 20.7 , 23.29, 29.33, 17.95, 15.82, 15.06,
       34.61, 19.99, 19.88, 24.04, 19.17, 29.63, 44.1 , 19.25, 22.84,
       12.16, 14.67, 24.43, 18.94, 29.42, 19.92, 33.51, 15.61, 24.57,
       43.69, 22.41, 15.3 , 30.37, 23.1 , 20.79, 25.94, 34.58, 27.55,
       20.05, 28.03, 16.24, 11.67, 22.73, 29.09, 15.87, 20.13, 21.45,
       10.66, 17.02, 22.98,  8.09, 19.86, 44.47, 11.58, 15.36, 21.39,
       13.55, 20.42,  9.21, 20.94, 26.94, 19.29, 23.73, 24.3 , 17.46,
       22.55,  8.74, 18.56, 18.72, 17.62, 19.67, 47.31, 14.28, 12.45,
       14.32, 19.86, 23.2 ])

In [13]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error


print(f'R^2 Score: {r2_score(y_test, y_pred)}')
print(f'MAE Score: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE Score: {mean_squared_error(y_test, y_pred)}')

R^2 Score: 0.8812481081037723
MAE Score: 2.1078431372549016
MSE Score: 8.708525490196077